.title{
    font-size: 2rem;
    color: #8C7ACE;
}

.subtitle{
    font-size: 1.5rem;
    color: #8C7ACE;
}

.experience {
    gap: 0rem;
}

.experienceGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experienceItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.experienceItem .role {
    width: 100px;
    font-weight: bold;
    flex: 1;
}

.experienceItem .company {
    width: 100px;
    flex: 2;
}

.experienceItem .date {
    width: 100px;
    flex: 1;
    text-align: left;
}